*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
}
.menu{
    background-color: white;
}
.menu ul li{
    display: inline-block;
    magin: 10px 0;
    text-transform: uppercase;
     float: right;
}
.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}
.button.type4 {
    color: #369fdd;
}
.button.type4::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    right: 0;
    background-color: #f671b6;
    transition: width 0.3s ease-in-out;
    margin: 0 auto;
}

.button.type4::after {
    bottom: 0;
}
.button.type4:hover::after {
    width: 60px;
}
.card {
    overflow: hidden;
    display: inline-block;
}
.box-1{
    padding: 10px;
    overflow: hidden;
}
.text-bot{
    color: white;
    position: absolute;
    bottom: 15px;
}
.img-bot{
    transition: .3s;
}
.text-2 a{
    font-size: 12px;
    color: #f3eded;
    padding: 3px 5px;
    background-color: #8c8c8c;
    transition: .3s;
}
.box-1:hover .img-bot{
    transform: scale(1.1);
}
.text{
    text-align: center;
    padding: 20px;
}


.box-2{
    padding: 10px;
    overflow: hidden;
}
.text-bot{
    position: absolute;
    bottom: 15px;
}
.img-bot{
    transition: .3s;
}
.text-2 a{
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    background-color: #8c8c8c;
    transition: .3s;
}
.box-2:hover .img-bot{
    transform: scale(1.1);
}
.box-2:hover .text-2 a{
    text-decoration: none;
    background-color: pink;
}


.box-3{
    padding: 10px;
    overflow: hidden;
}
.text-bot{
    position: absolute;
    bottom: 15px;
}
.img-bot{
    transition: .3s;
}
.text-2 a{
    font-size: 12px;
    color: #fff;
    padding: 3px 5px;
    background-color: #8c8c8c;
    transition: .3s;
}
.box-3:hover .img-bot{
    transform: scale(1.1);
}
.box-3:hover .text-2 a{
    text-decoration: none;
    background-color: pink;
}
.dash{
   border-bottom: 2px solid #b8a5a5;
    width: 1070px;
    height: 10px;
}
.gach-duoi{
    width: 1070px;
    height: 200px;
    border-bottom: 2px solid #b8a5a5 ;
}
.cuonttrang{
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    margin: auto;
    z-index: 1000;
    transition: 0.5s;
}
.cuonttrang img{
    max-height: 65px;
}
.text-1{
    width: 330px;
    font-size: 17px;
    color: black;
}
h3{
    width: 320px;
    margin: 0;
}
.text-content{
    max-width: 324px;
}
.bottom-content a{
    font-size: 12px;
    color: #fff;
    padding: 7px 8px;
    background-color: pink;
    transition: .3s;
}
.bottom-content p :hover{
    text-decoration: none;
    background-color: black;
}
.content2{
    padding-top: 20px;
}
.backgroud-color-bottom{
    width: 340px;
    background-color: #e5d5d5;
    padding-top:10px;
    padding-bottom: 10px;
}
.banner{
    padding-bottom: 20px;
}
.cuoitrang{
    font-weight: 700;
    padding: 30px;
    text-align: center;
}
h4{
    color: #8c8c8c;
}
footer{
    background-color: black;
    padding: 20px;
}

