.doan2{
    padding: 50px 0;
}
.doan4{
    padding: 50px 0;
}
.dangki1{
    color: #FFFFFF;
    font-size: 25px;
    padding: 15px;
}
.dangki2{
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    background-color: #ec1c24 !important;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 4px;
}
.dangki2-1{
    color: white;
}
.dangki2 .dangki2-1:hover{
    text-decoration: none;
    color: white;
}
.icon{
    float: right;
    margin-top: 15px;
}
.icon li{
    font-size: 25px;
    float: left;
    list-style: none;
    margin-left: 30px;
}
.iconx1{
    cursor: pointer;
    color: deepskyblue;
}
.iconx2{
    color: #ce4844;
}
.iconx3{
    color: red;
}
.iconx3:hover{
    color: red;
}
.gach {
    border-bottom: 1px solid #d5d5d5;
}
.songsong{
    color:#FFFFFF;
    font-size: 16px;
}
.Seoulista2{
    color: #d5d5d5;
    font-size: 14px;
}
.menugioithieu{
    color: #d5d5d5;
}
.menugioithieu:hover{
    text-decoration: none;
    color: #ce4844;
}
.ttnhanhieu{
    color: #d5d5d5;
}
.iso{
    padding: 40px 0 60px 0;
    text-align: center;
    color: #FFFFFF;
}
.nenden{
    background-color: black!important;
}