*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
body{

    font-family:"Nunito Sans", -apple-system, BlinkMacSystemFont, Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;

}
.nav1 img{
    max-width: 100%;
    height: auto;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1470px ;
}
#top.header-1{
    background-color: #111111;
    color: #fff;
    padding: 15px;
}
.top-left-1{
    float: left;
}
.top-left-1 .text-top{
    font-weight: bold;
}
.top-right-1{
    float: right;
}
.top-right-1 li{
    float: right;
    list-style: none;
    margin: 0 10px;
}
.top-right-1 a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: .4s;
}
.top-right-1 a:hover{
    color: #777;
}
.nav-1{
    padding: 20px;
    height: 80px;
    background-color: #f7f7f7;
}
.top-left-2{
    float: left;
}
.top-left-3{
    padding: 13px 0;
}
.fl{
    float: left;
}
.top-left-3 ul li .fl{
    margin-right: 15px;
}
.top-left-3 li{
    float: left;
    list-style: none;
}

.top-left-3 a{
    color: #111111;
}
.top-left-3-1{
    transition: .3s;
}
.top-left-3 .top-left-3-1:hover{
    color: #5e5e5e;
    text-decoration: none;
}
.fa-15z{
    font-size: 1.5em !important;
}
.top-left-3 i{
    padding-right: 15px;
    color: #5e5e5e;
    font-size: 12px;
}
.top-left-3-3{
    margin-right: 15px;
}
.menu{
    padding: 40px;
    background-color: #fff;
    position: absolute;
    top: 105px;
    box-shadow: -2px 2px 81px -27px rgba(0,0,0,.29);
    display: none;
    z-index: 300;
}
.menu:hover{
    display: block;
}
.menu-1{
    max-width: 290px;
}
.menu-1-1{
    padding-right: 180px;
    font-weight: bold;
}
.menu-1-2{
    line-height: 2;
    max-width: 250px;
    padding-top: 15px;
}
.menu-1-4{
    padding-right: 15px;
}
.menu-1-5{
    display: none;
    padding: 40px 35px;
    max-width: 200px;
    background-color: #fff;
    position: absolute;
    top: 85px;
    left: 190px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-5:hover{
    display: block;
}
.menu-1-7{
    padding-right: 15px;
}
.menu-1-8{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 125px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-8:hover{
    display: block;
}
.menu-1-11{
    display: none;
    min-width: 240px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    left: 135px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-11:hover{
    display: block;
}
.menu-1-12{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 165px;
    left: 130px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-12:hover{
    display: block;
}
.menu-1-13{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 250px;
    left: 110px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-13:hover{
    display: block;
}
.menu-1-9{
    display: none;
    line-height: 2;
    padding: 40px 35px;
    max-width: 280px;
    background-color: #fff;
    position: absolute;
    top: 115px;
    left: 180px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-9:hover{
    display: block;
}
.menu-1-10{
    display: none;
    line-height: 2;
    padding: 40px 35px;
    max-width: 200px;
    background-color: #fff;
    position: absolute;
    top: 145px;
    left: 140px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-10:hover{
    display: block;
}
.top-left-3-0{
    padding-right: 22px;
}
.top-left-3-0:hover +.menu{
    display: block;
}
.menu-1-3:hover +.menu-1-5{
    display: block;
}
.menu-1-3:hover +.menu-1-9{
    display: block;
}
.menu-1-3:hover +.menu-1-10{
    display: block;
}
.menu-1-6:hover +.menu-1-8{
    display: block;
}
.menu-1-6:hover +.menu-1-11{
    display: block;
}
.menu-1-6:hover +.menu-1-12{
    display: block;
}
.menu-1-6:hover +.menu-1-13{
    display: block;
}

.menu-2-1{
    max-width: 200px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 85px;
    left: 460px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-1:hover{
    display: block;
}
.menu-1-3:hover +.menu-2-1{
    display: block;
}
.menu-2-2{
    max-width: 200px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 110px;
    left: 460px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-2:hover{
    display: block;
}
.menu-1-3:hover +.menu-2-2{
    display: block;
}
.menu-2-3{
    max-width: 180px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 142px;
    left: 415px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-3:hover{
    display: block;
}
.menu-1-3:hover +.menu-2-3{
    display: block;
}
.menu-3-1{
    line-height: 2;
    max-width: 200px;
    padding-top: 13px;
}
.menu-4-1{
    line-height: 2;
    max-width: 120px;
    padding-top: 15px;
}




.box1>img{
    width:unset !important;
}
.cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.box1{
 width: 1903px;
    height: 523px;
    position: relative;
    margin: auto;
}
.text{
    position: absolute;
    top: 122px;
    left: 490px;
    z-index: 30;
}
.textr{
    position: absolute;
    float: right !important;
    top: 122px;
    right: 490px;
    z-index: 30;
}
.anoi{
    width: 174px !important;
    padding-bottom: 20px;
}
.anoi1{
    width: 174px !important;
    padding-bottom: 20px;
    display: block;
}
.block{
    display: block;
}
.px2{
    padding-left: 20px;
  }
.fr{
    padding-left: 15px;

    float: right !important;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-three {
    background-color: #403b3b;
    border: 2px solid #D24D57;
}
a.animated-button.victoria-three:hover{
    background-color: unset;
}
a.animated-button.victoria-three:after {

    background: #D24D57;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
.owl-dots{
    margin-top: -30px!important;
    z-index: 30 !important;
    position: relative !important;
}
.owl-carousel{
    margin-top: 30px;
}
.tem{
    display: inline-flex;
    padding: 2px 7px 0;
    font-size: 10px;
    line-height: 1.5em;
    color: #fff;
    background: gray;
    text-transform: uppercase;
    margin-right: 0;
    max-width: calc( 100% - 30px);
    width: auto;
    font-weight: 700;
}
.tem-2{
     display: inline-flex;
     padding: 2px 7px 0;
     font-size: 10px;
     line-height: 1.5em;
     color: #fff;
     background: #93af76;
     text-transform: uppercase;
     margin-right: 0;
     max-width: calc( 100% - 30px);
     width: auto;
     font-weight: 700;
}
.xtem{
    position: absolute;
    width: 100px;
    top: 45px;
    left: 15px;
    z-index: 99;
    float: left;
}
.cuonttrang{

    width: 100%;
    position: fixed;
    top:0;
    margin: auto;
    z-index: 1000;
    transition: 0.5s;
}