*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
body{
    font-family: Nunito, sans-serif;
}
.mini B{
    padding-bottom: 10px;
}
.nav1 img{
    max-width: 100%;
    height: auto;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1470px ;
}
#top.header-1{
    background-color: #111111;
    color: #fff;
    padding: 15px;
}
.top-left-1{
    float: left;
}
.top-left-1 .text-top{
    font-weight: bold;
}
.top-right-1{
    float: right;
}
.top-right-1 li{
    float: right;
    list-style: none;
    padding-left: 15px;
}
.top-right-1 a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: .4s;
}
.top-right-1 a:hover{
    color: #777;
}
.ez{
    padding-right: 15px;
}



.box1>img{
    width:unset !important;
}
.cangiua{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.box1{
    overflow: hidden;
    width: 100%;
    height: 523px;
    position: relative;
    margin: auto;
}
.text{
    position: absolute;
    top: 15%;
    left: 23%;
    z-index: 30;
}
.textr{
    position: absolute;
    float: right !important;
    top: 15%;
    right: 23%;
    z-index: 30;
}
.anoi{
    width: 174px !important;
    padding-bottom: 20px;
}
.anoi1{
    width: 174px !important;
    padding-bottom: 20px;
    display: block;
}
.block{
    display: block;
}
.px2{
    padding-left: 20px;
  }
.fr{
    padding-left: 15px;

    float: right !important;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-three {
    background-color: #403b3b;
    border: 2px solid #D24D57;
}
a.animated-button.victoria-three:hover{
    background-color: unset;
}
a.animated-button.victoria-three:after {

    background: #D24D57;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}
.owl-dots{
    margin-top: -30px!important;
    z-index: 30 !important;
    position: relative !important;
}
.owl-carousel{
    margin-top: 30px;
}
.tem{
    display: inline-flex;
    padding: 2px 7px 0;
    font-size: 10px;
    line-height: 1.5em;
    color: #fff;
    background: gray;
    text-transform: uppercase;
    margin-right: 0;
    max-width: calc( 100% - 30px);
    width: auto;
    font-weight: 700;
}
.tem-2{
     display: inline-flex;
     padding: 2px 7px 0;
     font-size: 10px;
     line-height: 1.5em;
     color: #fff;
     background: #93af76;
     text-transform: uppercase;
     margin-right: 0;
     max-width: calc( 100% - 30px);
     width: auto;
     font-weight: 700;
}
.xtem{
    position: absolute;
    width: 100px;
    top: 45px;
    left: 15px;
    z-index: 99;
    float: left;
}
.cuonttrang{

    width: 100%;
    position: fixed;
    top:0;
    margin: auto;
    z-index: 1000;
    transition: 0.5s;
}