*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Nunito, sans-serif;
}
.vsv img{
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.vsv {
    font-size: 18px;
    line-height: 1.5;

}
.vsv ul {
    margin-left: 40px;

}