*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.5;
    font-family: "Nunito", sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1470px !important;
}
.main{
    padding-bottom: 100px;
}
#top.header-1{
    background-color: #111111;
    color: #fff;
    padding: 15px;
}
.top-left-1{
    float: left;
}
.top-left-1 .text-top{
    font-weight: bold;
}
.top-right-1{
    float: right;
}
.top-right-1 li{
    float: right;
    list-style: none;
    padding-left: 15px;
}
.top-right-1 a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: .4s;
}
.top-right-1 a:hover{
    color: #777;
}
.nav-1{
    padding: 20px;
    height: 80px;
    background-color: #f7f7f7;
}
.top-left-2{
    float: left;
}
.top-left-3{
    padding: 13px 50px;
    float: left;
}
.top-left-3 ul li{
    margin-right: 15px;
}
.top-left-3 li{
    float: left;
    list-style: none;
}

.top-left-3 a{
    color: #111111;
}
.top-left-3-1 {
    margin-right: 10px;
    transition: .3s;
}
.top-left-3 .top-left-3-1:hover{
    color: #5e5e5e;
    text-decoration: none;
}
.top-left-3 i{
    padding-right: 15px;
    color: #5e5e5e;
    font-size: 12px;
}
.top-left-3-3{
    margin-right: 15px;
}
.menu{
    padding: 40px;
    background-color: #fff;
    position: absolute;
    top: 105px;
    box-shadow: -2px 2px 81px -27px rgba(0,0,0,.29);
    display: none;
    z-index: 1000;
}
.menu:hover{
    display: block;
}
.menu-1{
    max-width: 290px;
}
.menu-1-1{
    padding-right: 180px;
    font-weight: bold;
}
.menu-1-1:hover{
    text-decoration: none;
}
.menu-1-1::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    left: 0;
    background-color: #363636;
    transition: width .2s ease-in-out;
    bottom: 0;
}
.menu-1-1:hover::after{
    text-decoration: none;
    width: 30px;
}
.menu-1-2{
    line-height: 2;
    max-width: 250px;

    padding-top: 15px;
}
.menu-1-4 {
    padding-right: 15px;
}
.menu-1-4:hover{
    text-decoration: none;
}
.menu-1-5{
    display: none;
    padding: 40px 35px;
    max-width: 200px;
    background-color: #fff;
    position: absolute;
    top: 110px;
    left: 190px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-5:hover{
    display: block;
}
.menu-1-5 a{
    text-decoration: none;
}
.menu-1-7{
    padding-right: 15px;
}
.menu-1-8{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 125px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-8:hover{
    display: block;
}
.menu-1-11{
    display: none;
    min-width: 240px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    left: 135px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-11:hover{
    display: block;
}
.menu-1-12{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 165px;
    left: 130px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-12:hover{
    display: block;
}
.menu-1-13{
    display: none;
    min-width: 200px;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 250px;
    left: 110px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-13:hover{
    display: block;
}
.menu-1-9{
    display: none;
    line-height: 2;
    padding: 40px 35px;
    max-width: 280px;
    background-color: #fff;
    position: absolute;
    top: 140px;
    left: 175px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-9:hover{
    display: block;
}
.menu-1-9 a:hover{
    text-decoration: none;
}
.menu-1-10{
    display: none;
    line-height: 2;
    padding: 40px 35px;
    max-width: 200px;
    background-color: #fff;
    position: absolute;
    top: 165px;
    left: 135px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-1-10:hover{
    display: block;
}
.menu-1-10 a:hover{
    text-decoration: none;
}
.top-left-3-0:hover +.menu{
    display: block;
}
.menu-1-3:hover +.menu-1-5{
    display: block;
}
.menu-1-3:hover +.menu-1-9{
    display: block;
}
.menu-1-3:hover +.menu-1-10{
    display: block;
}
.menu-1-6:hover +.menu-1-8{
    display: block;
}
.menu-1-6:hover +.menu-1-11{
    display: block;
}
.menu-1-6:hover +.menu-1-12{
    display: block;
}
.menu-1-6:hover +.menu-1-13{
    display: block;
}

.menu-2-1{
    max-width: 200px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 110px;
    left: 430px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-1:hover{
    display: block;
}
.menu-2-1 a:hover{
    text-decoration: none;
}
.menu-1-3:hover +.menu-2-1{
    display: block;
}
.menu-2-2{
    max-width: 200px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 135px;
    left: 430px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-2:hover{
    display: block;
}
.menu-2-2 a:hover{
    text-decoration: none;
}
.menu-1-3:hover +.menu-2-2{
    display: block;
}
.menu-2-3{
    max-width: 180px;
    display: none;
    padding: 40px 35px;
    background-color: #fff;
    position: absolute;
    top: 165px;
    left: 385px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.menu-2-3:hover{
    display: block;
}
.menu-2-3 a:hover{
    text-decoration: none;
}
.menu-1-3:hover +.menu-2-3{
    display: block;
}
.menu-3-1{
    line-height: 2;
    max-width: 200px;
    padding-top: 13px;
}
.menu-3-1 a:hover{
    text-decoration: none;
}
.menu-4-1{
    line-height: 2;
    max-width: 120px;
    padding-top: 15px;
}
.menu-4-1 a{
    text-decoration: none;
}
.text-ct{
    text-transform: uppercase;
    font-weight: 700;
}
.text-ct-2{
    margin-top: 15px;
    line-height: 2;
}
.text-ct-2 a{
    color: #363636;
    text-decoration: none;
    transition: .2s;
}
.text-ct-2 i{
    padding-right: 5px;
    transition: .2s;
}
.text-ct-2-1:hover a{
    color: #ec1c24;
}
.text-ct-2-1:hover i{
    color: #ec1c24;
}
.text-ct-3{
    text-transform: uppercase;
    color: rgba(54,54,54,0.55);
}
.text-ct-3-1{
    color: rgba(54,54,54,0.55);
    transition: .2s;
}
.fonchu h2{
    font-size: 36px !important;
}
.text-ct-3-1:hover{
    color: #ec1c24;
    text-decoration: none;
}
.text-ct-4{
    height: 100px;
    padding: 15px 0;
}
.text-ct-4-1{
    color: #363636;
    font-size: 16px;
    transition: .2s;
}
.text-ct-4-1:hover{
    text-decoration: none;
    color: rgba(70,70,70,0.8);
}
.price{
    height: 20px;
}
.price-1{
    position: relative;
    overflow: hidden;
}
.ct-2-1:hover .price-1:before{
    opacity: 1;
    transform: translate(0, 0);
}
.ct-2-1 .price-1:before{
    content: attr(data-hover);
    position: absolute;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #ec1c24;
    font-size: 12px;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s ease-in-out;
}
.ct-2-1:hover .price-1 b{
    opacity: 0;
    transform: translateY(-100%);
}
.ct-2-1 .price-1 b{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.price b{
    padding-right: 50px;
    color: rgba(54,54,54,0.8);
}
.price a:hover{
    text-decoration: none;
}
.price-icon{
    font-size: 12px;
}
.ct-1{
    float: left;
    width: 15%;
    padding: 80px 20px 0 0;
}
.ct-2{
    float: left;
    width: 75%;
    padding: 80px 0 0 20px;
}
.borderbt{
    margin: 40px 0;
    border-bottom: 1px solid rgba(54,54,54,0.15);
}
.bordersp{
    border-bottom: 1px solid rgba(54,54,54,0.15);
}
.ct-2-1{
    margin-top: 40px;
    text-align: justify;
}
.tem{
    display: inline-block;
    padding: 2px 7px 0;
    font-size: 10px;
    line-height: 1.5em;
    color: #fff;
    background: gray;
    text-transform: uppercase;
    margin-right: 0;
    max-width: calc( 100% - 30px);
    width: auto;
    position: absolute;
    top: 45px;
    left: 15px;
    z-index: 99;
    font-weight: 700;
}
.tem-2{
    display: inline-block;
    padding: 2px 7px 0;
    font-size: 10px;
    line-height: 1.5em;
    color: #fff;
    background: #93af76;
    text-transform: uppercase;
    margin-right: 0;
    max-width: calc( 100% - 30px);
    width: auto;
    position: absolute;
    top: 45px;
    left: 15px;
    z-index: 99;
    font-weight: 700;
}
.heart{
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    height: 25px;
    width: auto;
    position: absolute;
    top: 300px;
    left: 45%;
    padding: 3px 5px;
    display: none;
}
.heart-1{
    color: rgba(54,54,54,0.8);
    padding: 5px;
    transform: scale(5);
    transition: .3s;
}
.ct-2-1:hover .heart{
    display: block;
}
.heart-1:hover{
    color: #ec1c24;
}
.op05{
    text-decoration: line-through;
    color: #888;
}
.fonchu{
    padding-top: 55px;
    font-family: 'Playfair Display';
}
.fr{
    padding-left: 25px;
    line-height: 3em;
    float: right !important;
}
.fa-15z{
    font-size: 1.2em !important;
}