*{
    padding: 0;
    margin: 0;
}

.header_boss{
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 42px;
    font-weight: 400;
    color: #000;
    margin-top: 80px;
}
.main{
    font-family: "Nunito",-apple-system,BlinkMacSystemFont,Arial,Helvetica,'Helvetica Neue',Verdana,sans-serif;
    color: #545454;
    font-weight: normal;
    line-height: 1.5;
    padding-right: 20px;
}
a {
    transition: .2s;
    text-decoration: none;
}
a:hover{
   text-decoration: none;
    color: #FA8072;
}
.row{
    font-size: 18px;
}
.nav-boss{
    font-size: 14px;
    padding-top: 75px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.thanh{
    border-bottom: 2px solid #ee2c2c;
    width: 50px;
    margin-bottom: 35px;
}
h3{
    color: black;
    font-size: 33px;
}
.username{
    border: 1px solid ;
    padding: 10px;
    border-radius: 3px;
}
.username:focus{
    outline: none;
    background-color: #f7f7f7;
}
.report{
    padding: 10px;
    border-radius: 3px;
}
.report:focus{
    outline: none;
    background-color: #f7f7f7;
}
.button{
    margin-bottom: 30px;
    background-color: #ec1c24;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    color: #f7f7f7;
    transition: .3s;
}
.button:hover{
    opacity: 0.8;
}
.button:focus{
    outline: none;
}